  <!DOCTYPE html>
  <html>
    <head>
      <meta charset="utf-8">
      <title>Foorumi</title>
    </head>

    <body>
      <h1>Foorumi</h1>
      
	  {% if current_user.is_authenticated %}
      <p>
	Kirjautunut nimellä <a href="{{ url_for('userpage') }}">{{ current_user.name }}</a>. <a href="{{ url_for('kirjaaulos') }}">Kirjaudu ulos</a>
      </p>
      {% else %}
      <a href="{{ url_for('kirjaudu') }}">Kirjaudu</a>
      {% endif %}
	  
      {% block body %}
      <p>
	Mikali tama on nakyissa, jokin on mennyt vikaan.
      </p>
      {% endblock %}
    </body>
  </html>