{% extends "layout.html" %}

{% block body %}
  <p></p>
  <table>
    <tr>
	  <td>
	    Hae: 
		<form action="{{ url_for('etsi') }}" method = "post" enctype="multipart/form-data">
		  <input type="text" name="search" size="35"/>
		  <input type="submit" value="Etsi"/>
		</form>
	  </td>
	</tr>
	<tr>
	  <td>
	    <a href="/">Takaisin</a>
	  </td>
	</tr>
	<tr><td><p></p></td></tr>
    <tr>
	  <td>
        <br /><th>Results with term "{{ term }}"</th><br />
      </td>
    </tr>
    {% for thread in threads %}
    <tr>
      <td>
	    {{ thread.title }}
	    <form action="/thread" method="post">
	      <input type="text" name="thread_id" value={{ thread.id }} readonly size=3>
	      <input type="submit" value="Lue"/>
	    </form>
	  </td>
    </tr>
    {% endfor %}
  </table>
  
{% endblock %}